<div class="album py-2 bg-light">
    <div class="container">
        <% if logged_in?(:site_admin) %>
            <%= link_to "Create new portfolio", new_portfolio_path, class: "btn btn-primary mb-3" %>
        <% end %>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 sortable">
            <%= render @portfolios %>
        </div>
    </div>
</div>
