<h1 class="mt-3">About</h1>

<hr>

<div class="row mb-3">
    <div class="col-md-5">
        <%= image_tag "feanor.jpg",
            width: "300", alt: "Feanor" %>
    </div>
    <div class="col-md-7">
        <p>George Parsehyan</p>
        <p>also known as</p>
        <p>Feanor306</p>
        <p>For Fëanor was made the mightiest in all parts of body and mind: in valour, in endurance, in beauty, in understanding, in skill, in strength and subtlety alike: of all the Children of Ilúvatar, and a bright flame was in him.</p>
    </div>
</div>